
<mat-toolbar color="primary">
    <span>Idan's Shop!</span>
    <mat-search-bar (onEnter)="search($event)" class="search" ></mat-search-bar>
</mat-toolbar>
<div class="container"
[style.width.px]="widthContainer"
>
<!-- cart -->
<div class="sidebar"
mwlResizable
[enableGhostResize]="true"
[resizeEdges]="{ bottom: false, right: true, top: false, left: false }"
(resizeEnd)="onResizeEnd($event)"
[style.width.px]="widthSidebar"
>
  <app-cart></app-cart>
</div>

<div
[style.width.px]="widthMain"
class="products"
>
    <mat-toolbar>
        <button style="left:50%;position: relative; transform: translate(-50%,0); margin:10px;" *ngFor="let cat of categories" mat-stroked-button color="warn" (click)="getProducsByCategory(cat.name)">{{cat.name}}</button>
    </mat-toolbar>
    <div class="productsCards">

        <mat-card *ngFor="let prod of selectedProducts" class="productCard">
            <mat-card-header>
              <mat-card-title>{{prod.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src={{prod.img_url}} alt={{prod.name}}>
            <mat-card-content>
              <p>
                {{prod.price}}
              </p>
            </mat-card-content>
            <mat-card-actions>
               
                <button (click)=removeAmount($event) style="display: inline; margin:0; padding: 0px;" mat-button>-</button>
                <input id="{{prod.name+'_amount'}}" #amount value="0" style="display: inline-block; width:10px; ">
                <button (click)=addAmount($event) style="display: inline; margin:0; padding: 0" mat-button>+</button>
         
              <button mat-button (click)="addToCart(prod,amount.value)">ADD</button>
            </mat-card-actions>
          </mat-card>







    </div>
</div>

</div>